# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [4]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [6]:
d = {'labels':labels, 'companies':companies}
df = pd.DataFrame(data=d)

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [7]:
df.sort_values(by='labels')

    labels                           companies
53       0                       Valero Energy
57       0                               Exxon
44       0                        Schlumberger
10       0                      ConocoPhillips
12       0                             Chevron
35       1                            Navistar
8        1                         Caterpillar
13       1                   DuPont de Nemours
14       2                                Dell
33       2                           Microsoft
22       2                                  HP
11       2                               Cisco
52       3                            Unilever
49       3                               Total
46       3                      Sanofi-Aventis
43       3                                 SAP
39       3                              Pfizer
37       3                            Novartis
19       3                     GlaxoSmithKline
42       3                   Royal Dutch Shell
6        3            British American Tobacco
1        4                                 AIG
26       4                      JPMorgan Chase
5        4                     Bank of America
55       4                         Wells Fargo
18       4                       Goldman Sachs
29       5                     Lookheed Martin
54       5                            Walgreen
4        5                              Boeing
36       5                    Northrop Grumman
3        6                    American express
32       6                                  3M
20       6                          Home Depot
47       6                            Symantec
25       6                   Johnson & Johnson
16       6                   General Electrics
23       6                                 IBM
30       6                          MasterCard
56       7                            Wal-Mart
27       7                      Kimberly-Clark
41       7                       Philip Morris
40       7                      Procter Gamble
9        7                   Colgate-Palmolive
59       8                               Yahoo
50       9  Taiwan Semiconductor Manufacturing
51       9                   Texas instruments
24       9                               Intel
34      10                          Mitsubishi
45      10                                Sony
58      10                               Xerox
48      10                              Toyota
21      10                               Honda
15      10                                Ford
7       10                               Canon
28      11                           Coca Cola
38      11                               Pepsi
31      12                           McDonalds
17      13                     Google/Alphabet
2       13                              Amazon
0       13                               Apple

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.