# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
a='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(a,'\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [12]:
prices=[float(value[1 : -1]) for value in chipo.item_price]##如何分离出数值？？
for i in prices:
    if i>10:
        print(i)
    else:
        continue

16.98
10.98
11.75
11.25
10.98
11.75
11.25
11.75
10.98
10.98
11.25
11.75
11.25
10.98
11.25
11.75
11.75
11.75
11.75
11.25
11.75
10.98
22.5
11.75
11.25
11.25
11.25
11.25
11.75
11.48
17.98
17.5
17.5
11.25
11.75
10.98
10.98
11.48
11.25
11.75
10.98
11.48
11.25
11.48
11.25
10.98
11.25
11.25
11.25
11.25
22.5
11.75
17.5
11.25
11.75
11.75
17.5
10.98
10.98
11.75
23.78
17.5
11.25
11.25
11.25
11.75
11.75
11.25
11.25
17.5
11.08
11.25
11.75
11.75
11.25
11.25
22.16
17.5
11.25
11.25
11.25
11.75
11.25
11.25
11.75
11.75
11.25
11.25
11.25
11.75
11.75
11.25
32.94
11.25
11.48
17.5
17.5
10.98
11.48
11.48
10.98
11.25
22.2
11.75
11.25
11.25
11.25
11.25
11.75
11.25
11.48
11.25
10.58
11.25
11.25
11.25
11.75
11.25
11.75
11.25
11.25
11.75
11.25
23.5
11.25
11.25
18.5
11.25
10.98
22.16
11.25
11.75
11.75
11.75
16.98
11.75
11.25
10.98
11.25
22.5
11.48
11.75
11.89
23.78
10.98
11.75
22.5
11.25
18.5
11.48
17.5
11.75
11.25
10.98
11.25
11.75
11.25
11.25
11.75
11.25
11.48
11.25
11.25
11.75
11.75
11.25
11.25
11.25
11.75
11.25
11.25
11.89
11.25
11.75
11.25
11.25
11.25
11.25
10.98
10.98
22.5
10.98
11.08
11.08
11.25
11.25
11.25
16.98
11.25
11.48
22.5
11.75
11.25
11.25
11.25
11.25
11.25
11.25
17.5
11.75
10.98
11.75
11.25
11.75
11.75
17.98
11.75
11.25
11.75
11.25
11.75
11.75
11.25
11.25
11.25
11.25
11.25
17.5
11.25
11.25
11.75
11.25
11.75
11.25
11.25
10.98
11.25
11.75
17.5
11.25
10.98
11.75
11.75
11.48
11.25
11.75
10.98
11.48
10.98
10.98
11.75
11.48
11.25
11.75
11.48
11.75
11.75
10.58
11.75
11.25
11.25
17.5
22.5
11.75
11.25
11.25
11.25
11.75
11.75
11.89
11.75
11.25
11.48
11.48
11.89
10.58
17.5
11.48
11.48
11.25
11.25
11.25
11.75
11.25
11.75
11.75
11.25
11.25
10.98
11.25
10.98
17.5
11.25
11.25
11.89
11.75
11.25
11.48
11.48
11.25
11.75
11.25
11.25
35.0
27.75
11.8
10.98
17.98
10.98
11.48
11.48
11.25
11.08
11.08
10.98
11.25
11.25
11.75
11.25
11.89
10.98
11.48
11.75
11.89
11.75
11.75
11.25
11.75
11.75
11.25
11.25
11.75
11.48
10.98
11.25
11.25
11.75
11.25
11.48
11.48
11.75
11.75
10.98
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
22.5
11.48
17.5
11.25
11.75
11.25
11.25
10.98
11.48
10.98
11.75
10.98
11.25
11.25
10.98
11.25
11.89
26.25
11.75
11.75
11.25
11.25
11.25
11.25
11.75
11.25
11.25
11.75
11.75
23.5
11.89
11.75
17.5
11.89
11.25
11.25
11.25
11.25
10.98
10.98
11.25
11.75
11.75
11.25
11.25
11.25
11.75
11.75
11.75
11.75
11.08
11.25
17.5
10.98
11.25
11.75
11.25
11.25
11.75
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.75
11.25
11.75
21.96
10.98
11.48
11.25
11.25
11.08
11.75
11.75
11.25
23.5
11.75
11.75
10.98
11.75
10.98
11.25
11.25
11.75
11.25
11.25
11.25
11.25
11.89
11.75
11.75
21.96
17.5
11.75
10.98
11.25
11.25
11.25
11.25
11.25
10.98
11.25
11.75
18.5
11.75
11.75
22.5
10.98
11.25
11.75
11.25
11.75
10.98
11.75
11.25
11.25
11.25
11.75
10.98
17.5
11.25
10.98
11.25
11.25
11.25
11.25
11.25
11.48
11.48
11.25
11.75
11.25
11.25
11.25
11.75
11.75
10.98
10.98
11.75
17.5
11.75
10.98
17.5
11.75
11.25
17.5
11.25
11.75
11.75
21.96
11.25
10.98
11.75
11.75
17.5
11.25
11.25
11.25
11.75
11.25
11.25
11.25
10.98
10.98
11.75
10.98
11.25
11.25
10.98
10.98
10.98
11.75
10.98
11.25
11.25
11.25
11.75
11.75
11.75
11.75
11.75
11.25
11.75
11.75
11.25
11.25
11.25
11.75
11.48
11.48
11.48
11.25
10.98
11.75
11.25
10.98
10.98
11.75
11.25
11.25
16.98
11.75
11.25
10.98
11.25
11.75
17.98
11.75
11.25
11.75
11.25
11.75
11.89
11.75
11.25
11.25
11.25
11.25
11.75
22.5
11.25
11.25
11.25
11.75
11.75
11.75
11.89
11.89
11.25
11.75
11.25
11.75
10.98
11.25
10.98
11.75
10.98
10.98
11.75
11.25
11.48
11.25
11.25
10.98
11.25
11.25
11.75
11.25
22.5
11.25
11.75
21.96
11.25
11.25
11.25
11.48
11.25
11.25
11.75
11.25
11.25
11.25
11.75
11.25
11.25
11.25
11.25
10.98
16.98
18.5
10.98
17.5
17.5
11.25
11.25
11.25
11.89
10.98
11.25
11.25
11.25
10.98
11.75
11.25
11.75
11.75
17.5
11.25
11.25
11.75
13.35
11.25
11.75
11.25
11.25
11.25
11.25
11.25
11.25
10.98
10.98
11.75
11.75
11.25
11.25
11.25
11.75
11.25
11.25
11.75
11.75
11.75
11.25
11.75
11.25
11.25
11.25
11.89
11.25
11.25
11.75
11.75
11.25
10.98
11.75
11.48
16.98
10.98
11.25
11.75
11.75
11.25
11.25
10.98
11.25
11.89
11.25
11.75
10.98
11.75
11.25
11.25
11.25
11.25
17.98
11.75
11.08
10.98
11.75
11.75
11.75
11.25
11.75
11.25
11.25
11.25
11.75
11.75
11.25
10.58
11.25
11.75
11.25
11.25
11.25
11.75
21.96
11.25
17.5
22.96
11.25
11.89
11.25
17.5
11.25
11.25
11.75
11.25
11.25
11.75
11.75
11.25
11.25
11.75
11.25
11.25
11.48
11.75
11.75
11.75
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
16.98
11.75
11.25
11.25
11.48
11.25
11.48
11.48
11.25
11.89
11.25
16.98
18.5
11.08
11.75
11.25
11.25
21.96
17.5
11.25
11.25
11.75
11.48
11.75
11.25
11.75
11.75
11.48
11.25
11.89
11.75
11.25
11.25
11.25
11.25
11.25
11.25
17.5
11.75
11.75
11.25
11.25
11.25
11.08
11.25
11.25
11.48
11.48
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.25
21.96
26.07
11.75
11.48
11.89
11.75
18.5
11.25
11.25
16.98
11.75
11.25
11.25
12.98
11.75
11.75
11.25
11.75
10.98
11.25
11.25
11.25
11.25
17.5
11.25
11.75
11.25
11.25
11.25
10.98
11.75
11.25
11.25
11.25
11.25
11.25
11.25
35.25
11.25
11.89
10.98
22.5
21.96
10.98
11.75
11.25
10.58
11.25
11.25
11.25
11.25
11.89
11.75
11.75
11.75
10.98
10.98
11.25
10.98
44.25
10.5
33.75
35.0
27.75
11.25
11.75
10.98
16.98
16.98
17.98
16.98
16.98
11.48
11.25
26.25
26.25
11.25
11.25
11.75
11.25
11.25
11.25
11.25
11.25
21.96
16.98
10.98
10.98
17.5
11.25
11.75
11.25
11.25
10.98
11.25
16.98
11.25
11.75
11.75
11.75
11.25
11.75
11.75
11.25
11.25
11.75
10.98
10.98
11.25
11.89
11.25
23.5
11.75
17.5
11.25
11.25
11.75
11.25
11.25
11.48
10.98
11.25
11.75
11.25
11.25
11.75
11.75
11.75
16.38
11.75
11.25
11.25
11.75
21.96
11.25
11.25
11.75
11.25
18.5
11.48
11.25
11.75
11.25
11.25
13.52
16.98
16.98
17.98
16.98
11.25
11.25
10.98
11.25
17.5
11.25
11.25
11.25
11.25
11.25
10.98
18.5
16.98
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.75
11.75
11.25
11.75
11.25
11.25
10.98
11.25
11.25
18.5
11.25
11.75
17.5
11.75
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.75
11.75
11.75
11.25
11.75
17.5
11.25
15.0
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.75
11.25
11.25
11.75
18.5
11.25
11.89
11.75
11.25
11.25
11.25
11.25
11.75
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.75
11.75
11.25
23.5
18.5
11.89
11.25
11.25
11.25
11.25
11.75
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.75
11.25
11.25
11.25
18.5
11.75
11.25
11.75
11.25
11.25
11.25
11.75
11.75
11.75
11.75
11.75
11.25
11.25
11.25
11.25
22.5
23.5
11.75
11.25
11.75
17.5
11.75
11.25
11.75
11.75
11.25
11.75
11.25
11.25
11.25
11.75
11.25
11.75
11.75
11.25
11.25
11.75
11.25
11.75
17.8
11.25
11.25
11.25
11.75
11.25
11.49
11.75
11.25
11.75
11.25
11.25
11.25
11.75
11.25
11.25
17.5
11.25
11.25
11.25
11.25
11.25
11.25
11.25
11.75
11.75
11.75
11.75
11.25
11.75
11.25
11.75
11.75
11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [60]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [34]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [37]:
a=chipo.sort_values(by='item_price')
a.tail(1).quantity

4390    1
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [51]:
len(chipo[chipo['item_name']=='Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [53]:
len(chipo[(chipo['item_name']=='Canned Soda')&(chipo['quantity']>1)])

20