# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [3]:
labels=pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [4]:
df=pd.DataFrame({'labels':labels,'companies':companies})

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [7]:
df.sort_values('labels')

    labels                           companies
45       0                                Sony
21       0                               Honda
7        0                               Canon
34       0                          Mitsubishi
30       0                          MasterCard
48       0                              Toyota
5        1                     Bank of America
3        1                    American express
18       1                       Goldman Sachs
58       1                               Xerox
26       1                      JPMorgan Chase
20       1                          Home Depot
55       1                         Wells Fargo
16       1                   General Electrics
54       2                            Walgreen
25       2                   Johnson & Johnson
39       2                              Pfizer
0        3                               Apple
31       4                           McDonalds
19       4                     GlaxoSmithKline
43       4                                 SAP
42       4                   Royal Dutch Shell
46       4                      Sanofi-Aventis
37       4                            Novartis
49       4                               Total
52       4                            Unilever
6        4            British American Tobacco
47       5                            Symantec
50       5  Taiwan Semiconductor Manufacturing
33       5                           Microsoft
22       5                                  HP
51       5                   Texas instruments
11       5                               Cisco
24       5                               Intel
14       5                                Dell
17       6                     Google/Alphabet
2        6                              Amazon
32       7                                  3M
10       7                      ConocoPhillips
12       7                             Chevron
57       7                               Exxon
23       7                                 IBM
44       7                        Schlumberger
13       7                   DuPont de Nemours
8        7                         Caterpillar
53       7                       Valero Energy
29       8                     Lookheed Martin
36       8                    Northrop Grumman
4        8                              Boeing
40       9                      Procter Gamble
38       9                               Pepsi
28       9                           Coca Cola
27       9                      Kimberly-Clark
9        9                   Colgate-Palmolive
41       9                       Philip Morris
15      10                                Ford
1       10                                 AIG
59      11                               Yahoo
35      12                            Navistar
56      13                            Wal-Mart

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.