# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [5]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [9]:
df = pd.DataFrame([labels,companies]).T
df.columns = ['labels','companies']
df

   labels                           companies
0       8                               Apple
1       7                                 AIG
2       4                              Amazon
3       7                    American express
4       3                              Boeing
5       9                     Bank of America
6       1            British American Tobacco
7       4                               Canon
8       7                         Caterpillar
9       0                   Colgate-Palmolive
10      5                      ConocoPhillips
11     11                               Cisco
12      5                             Chevron
13      7                   DuPont de Nemours
14      6                                Dell
15      4                                Ford
16      5                   General Electrics
17      8                     Google/Alphabet
18      9                       Goldman Sachs
19      1                     GlaxoSmithKline
20      5                          Home Depot
21      4                               Honda
22      6                                  HP
23      5                                 IBM
24      2                               Intel
25     13                   Johnson & Johnson
26      9                      JPMorgan Chase
27      0                      Kimberly-Clark
28     12                           Coca Cola
29      3                     Lookheed Martin
30      4                          MasterCard
31     12                           McDonalds
32      7                                  3M
33     11                           Microsoft
34      4                          Mitsubishi
35      7                            Navistar
36      3                    Northrop Grumman
37      1                            Novartis
38     12                               Pepsi
39     13                              Pfizer
40      0                      Procter Gamble
41     12                       Philip Morris
42      1                   Royal Dutch Shell
43      1                                 SAP
44      5                        Schlumberger
45      4                                Sony
46      1                      Sanofi-Aventis
47      2                            Symantec
48      4                              Toyota
49      1                               Total
50      2  Taiwan Semiconductor Manufacturing
51      2                   Texas instruments
52      1                            Unilever
53      5                       Valero Energy
54     10                            Walgreen
55      9                         Wells Fargo
56     12                            Wal-Mart
57      5                               Exxon
58      7                               Xerox
59      7                               Yahoo

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [10]:
df.sort_values(by='labels')

   labels                           companies
40      0                      Procter Gamble
27      0                      Kimberly-Clark
9       0                   Colgate-Palmolive
37      1                            Novartis
42      1                   Royal Dutch Shell
43      1                                 SAP
52      1                            Unilever
6       1            British American Tobacco
46      1                      Sanofi-Aventis
49      1                               Total
19      1                     GlaxoSmithKline
51      2                   Texas instruments
50      2  Taiwan Semiconductor Manufacturing
24      2                               Intel
47      2                            Symantec
29      3                     Lookheed Martin
36      3                    Northrop Grumman
4       3                              Boeing
34      4                          Mitsubishi
2       4                              Amazon
30      4                          MasterCard
7       4                               Canon
45      4                                Sony
21      4                               Honda
15      4                                Ford
48      4                              Toyota
23      5                                 IBM
12      5                             Chevron
10      5                      ConocoPhillips
16      5                   General Electrics
44      5                        Schlumberger
20      5                          Home Depot
53      5                       Valero Energy
57      5                               Exxon
14      6                                Dell
22      6                                  HP
59      7                               Yahoo
1       7                                 AIG
3       7                    American express
32      7                                  3M
8       7                         Caterpillar
13      7                   DuPont de Nemours
58      7                               Xerox
35      7                            Navistar
17      8                     Google/Alphabet
0       8                               Apple
18      9                       Goldman Sachs
5       9                     Bank of America
55      9                         Wells Fargo
26      9                      JPMorgan Chase
54     10                            Walgreen
11     11                               Cisco
33     11                           Microsoft
28     12                           Coca Cola
31     12                           McDonalds
41     12                       Philip Morris
56     12                            Wal-Mart
38     12                               Pepsi
25     13                   Johnson & Johnson
39     13                              Pfizer

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.