# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [2]:
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [9]:
a=pd.Series(np.random.randint(1,5,size=100));a

0     1
1     2
2     4
3     1
4     2
     ..
95    4
96    3
97    2
98    1
99    4
Length: 100, dtype: int32

In [10]:
b=pd.Series(np.random.randint(1,4,size=100));b

0     1
1     3
2     2
3     3
4     3
     ..
95    3
96    2
97    2
98    2
99    2
Length: 100, dtype: int32

In [11]:
c=pd.Series(np.random.randint(10000,30001,size=100));c

0     26074
1     22384
2     26731
3     21479
4     17785
      ...
95    12167
96    12567
97    17910
98    17097
99    16046
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [24]:
x=pd.concat([a,b,c],axis=1);x

    0  1      2
0   1  1  26074
1   2  3  22384
2   4  2  26731
3   1  3  21479
4   2  3  17785
.. .. ..    ...
95  4  3  12167
96  3  2  12567
97  2  2  17910
98  1  2  17097
99  4  2  16046

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [25]:
x.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [28]:
bigcolumn=pd.concat([a,b,c],axis=0);bigcolumn

0         1
1         2
2         4
3         1
4         2
      ...
95    12167
96    12567
97    17910
98    17097
99    16046
Length: 300, dtype: int32

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [29]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [30]:
bigcolumn.reset_index(drop=True,inplace=True)

In [31]:
bigcolumn

0          1
1          2
2          4
3          1
4          2
       ...
295    12167
296    12567
297    17910
298    17097
299    16046
Length: 300, dtype: int32