# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [55]:
import pandas as pd 
import datetime as dt 
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [56]:
start=dt.datetime(2015,1,1)
end=dt.datetime.today()

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [57]:
stocks=['AAPL','TSLA','TWTR','IBM','LNKD']

### Step 4. Read the data from google, assign to df and print it

In [58]:
df=web.DataReader(stocks,'yahoo',start,end)
df.head()

Attributes   Adj Close                                               Close  \
Symbols           AAPL        TSLA       TWTR         IBM LNKD        AAPL
Date
2014-12-31  100.905785  222.410004  35.869999  126.256348  NaN  110.379997
2015-01-02   99.945885  219.309998  36.560001  127.531136  NaN  109.330002
2015-01-05   97.130241  210.089996  36.380001  125.524490  NaN  106.250000
2015-01-06   97.139420  211.279999  38.759998  122.817429  NaN  106.260002
2015-01-07   98.501518  210.949997  37.279999  122.014748  NaN  107.750000

Attributes                                          ...        Open  \
Symbols           TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                ...
2014-12-31  222.410004  35.869999  160.440002  NaN  ...  112.820000
2015-01-02  219.309998  36.560001  162.059998  NaN  ...  111.389999
2015-01-05  210.089996  36.380001  159.509995  NaN  ...  108.290001
2015-01-06  211.279999  38.759998  156.070007  NaN  ...  106.540001
2015-01-07  210.949997  37.279999  155.050003  NaN  ...  107.199997

Attributes                                              Volume             \
Symbols           TSLA       TWTR         IBM LNKD        AAPL       TSLA
Date
2014-12-31  223.089996  35.889999  160.410004  NaN  41403400.0  2297500.0
2015-01-02  222.869995  36.230000  161.309998  NaN  53204600.0  4764400.0
2015-01-05  214.550003  36.259998  161.270004  NaN  64285500.0  5368500.0
2015-01-06  210.059998  36.270000  159.669998  NaN  65797100.0  6261900.0
2015-01-07  213.350006  39.099998  157.199997  NaN  40105900.0  2968400.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2014-12-31  17629400.0  4011900.0  NaN
2015-01-02  12062500.0  5525500.0  NaN
2015-01-05  15062700.0  4880400.0  NaN
2015-01-06  33050800.0  6146700.0  NaN
2015-01-07  22675700.0  4701800.0  NaN

[5 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [50]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [51]:
df.items

<bound method DataFrame.items of Attributes  Adj Close                                 Close                   \
Symbols          TWTR         IBM AAPL TSLA LNKD       TWTR         IBM AAPL
Date
2014-12-31  35.869999  126.256348  NaN  NaN  NaN  35.869999  160.440002  NaN
2015-01-02  36.560001  127.531136  NaN  NaN  NaN  36.560001  162.059998  NaN
2015-01-05  36.380001  125.524490  NaN  NaN  NaN  36.380001  159.509995  NaN
2015-01-06  38.759998  122.817429  NaN  NaN  NaN  38.759998  156.070007  NaN
2015-01-07  37.279999  122.014748  NaN  NaN  NaN  37.279999  155.050003  NaN
...               ...         ...  ...  ...  ...        ...         ...  ...
2020-07-27  36.849998  126.209999  NaN  NaN  NaN  36.849998  126.209999  NaN
2020-07-28  36.610001  124.470001  NaN  NaN  NaN  36.610001  124.470001  NaN
2020-07-29  37.160000  125.320000  NaN  NaN  NaN  37.160000  125.320000  NaN
2020-07-30  36.720001  122.900002  NaN  NaN  NaN  36.720001  122.900002  NaN
2020-07-31  36.314999  121.809998  NaN  NaN  NaN  36.314999  121.809998  NaN

Attributes            ...       Open                                 Volume  \
Symbols    TSLA LNKD  ...       TWTR         IBM AAPL TSLA LNKD        TWTR
Date                  ...
2014-12-31  NaN  NaN  ...  35.889999  160.410004  NaN  NaN  NaN  17629400.0
2015-01-02  NaN  NaN  ...  36.230000  161.309998  NaN  NaN  NaN  12062500.0
2015-01-05  NaN  NaN  ...  36.259998  161.270004  NaN  NaN  NaN  15062700.0
2015-01-06  NaN  NaN  ...  36.270000  159.669998  NaN  NaN  NaN  33050800.0
2015-01-07  NaN  NaN  ...  39.099998  157.199997  NaN  NaN  NaN  22675700.0
...         ...  ...  ...        ...         ...  ...  ...  ...         ...
2020-07-27  NaN  NaN  ...  37.580002  124.860001  NaN  NaN  NaN  22911300.0
2020-07-28  NaN  NaN  ...  36.450001  125.820000  NaN  NaN  NaN  13566800.0
2020-07-29  NaN  NaN  ...  36.970001  124.559998  NaN  NaN  NaN  10675600.0
2020-07-30  NaN  NaN  ...  36.730000  123.709999  NaN  NaN  NaN   9988600.0
2020-07-31  NaN  NaN  ...  37.330002  122.709999  NaN  NaN  NaN   3784808.0

Attributes
Symbols           IBM AAPL TSLA LNKD
Date
2014-12-31  4011900.0  NaN  NaN  NaN
2015-01-02  5525500.0  NaN  NaN  NaN
2015-01-05  4880400.0  NaN  NaN  NaN
2015-01-06  6146700.0  NaN  NaN  NaN
2015-01-07  4701800.0  NaN  NaN  NaN
...               ...  ...  ...  ...
2020-07-27  3733400.0  NaN  NaN  NaN
2020-07-28  4178200.0  NaN  NaN  NaN
2020-07-29  2832800.0  NaN  NaN  NaN
2020-07-30  3977500.0  NaN  NaN  NaN
2020-07-31  1161418.0  NaN  NaN  NaN

[1406 rows x 30 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [52]:
vol = df['Volume']
vol.head()

Symbols           TWTR        IBM  AAPL  TSLA  LNKD
Date
2014-12-31  17629400.0  4011900.0   NaN   NaN   NaN
2015-01-02  12062500.0  5525500.0   NaN   NaN   NaN
2015-01-05  15062700.0  4880400.0   NaN   NaN   NaN
2015-01-06  33050800.0  6146700.0   NaN   NaN   NaN
2015-01-07  22675700.0  4701800.0   NaN   NaN   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [53]:
vol['week']=vol.index.week
vol['year']=vol.index.year
week=vol.groupby(['week','year']).sum()
week.head()

Symbols          TWTR         IBM  AAPL  TSLA  LNKD
week year
1    2014  17629400.0   4011900.0   0.0   0.0   0.0
     2015  12062500.0   5525500.0   0.0   0.0   0.0
     2016  89028400.0  25253600.0   0.0   0.0   0.0
     2017  58748700.0  11943500.0   0.0   0.0   0.0
     2018  76711500.0  31378900.0   0.0   0.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [54]:
del vol['week']
vol['year']=vol.index.year
year=vol.groupby(['year']).sum()
year

Symbols          TWTR           IBM  AAPL  TSLA  LNKD
year
2014     1.762940e+07  4.011900e+06   0.0   0.0   0.0
2015     5.361489e+09  1.105583e+09   0.0   0.0   0.0
2016     6.479294e+09  1.018606e+09   0.0   0.0   0.0
2017     4.410744e+09  1.071166e+09   0.0   0.0   0.0
2018     7.155865e+09  1.368561e+09   0.0   0.0   0.0
2019     3.880756e+09  9.466952e+08   0.0   0.0   0.0
2020     3.259890e+09  8.760827e+08   0.0   0.0   0.0

### BONUS: Create your own question and answer it.