# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Create a data dictionary that looks like the DataFrame below

In [7]:
a={"evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],"hp":[45, 39, 44, 45],"name":['Bulbasaur','Charmander','Squirtle','Caterpie'],"pokedex":['yes','no','yes','no'],"type":['grass','fire','water','bug']}

### Step 3. Assign it to a variable called

In [5]:
df=pd.DataFrame(a);df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [11]:
df=df[['name','type','hp','evolution','pokedex']];df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [13]:
df['place']=['Wuhan','Beijing','hangzhou','Shanghai']
df

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes     Wuhan
1  Charmander   fire  39  Charmeleon      no   Beijing
2    Squirtle  water  44   Wartortle     yes  hangzhou
3    Caterpie    bug  45     Metapod      no  Shanghai

### Step 6. Present the type of each column

In [17]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [15]:
df.shape

(4, 6)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes