# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|', index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [3]:
users.groupby(['occupation'])['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [39]:

users.groupby(['occupation','gender']).count()/users.occupation.value_counts()##

                      administrator  age  artist  doctor  educator  engineer  \
occupation    gender
administrator F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
artist        F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
doctor        M                 NaN  NaN     NaN     NaN       NaN       NaN
educator      F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
engineer      F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
entertainment F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
executive     F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
healthcare    F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
homemaker     F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
lawyer        F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
librarian     F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
marketing     F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
none          F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
other         F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
programmer    F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
retired       F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
salesman      F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
scientist     F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
student       F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
technician    F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN
writer        F                 NaN  NaN     NaN     NaN       NaN       NaN
              M                 NaN  NaN     NaN     NaN       NaN       NaN

                      entertainment  executive  healthcare  homemaker  ...  \
occupation    gender                                                   ...
administrator F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
artist        F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
doctor        M                 NaN        NaN         NaN        NaN  ...
educator      F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
engineer      F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
entertainment F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
executive     F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
healthcare    F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
homemaker     F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
lawyer        F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
librarian     F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
marketing     F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
none          F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
other         F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
programmer    F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
retired       F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
salesman      F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
scientist     F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
student       F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
technician    F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...
writer        F                 NaN        NaN         NaN        NaN  ...
              M                 NaN        NaN         NaN        NaN  ...

                      none  other  programmer  retired  salesman  scientist  \
occupation    gender
administrator F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
artist        F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
doctor        M        NaN    NaN         NaN      NaN       NaN        NaN
educator      F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
engineer      F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
entertainment F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
executive     F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
healthcare    F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
homemaker     F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
lawyer        F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
librarian     F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
marketing     F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
none          F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
other         F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
programmer    F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
retired       F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
salesman      F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
scientist     F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
student       F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
technician    F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN
writer        F        NaN    NaN         NaN      NaN       NaN        NaN
              M        NaN    NaN         NaN      NaN       NaN        NaN

                      student  technician  writer  zip_code
occupation    gender
administrator F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
artist        F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
doctor        M           NaN         NaN     NaN       NaN
educator      F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
engineer      F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
entertainment F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
executive     F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
healthcare    F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
homemaker     F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
lawyer        F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
librarian     F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
marketing     F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
none          F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
other         F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
programmer    F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
retired       F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
salesman      F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
scientist     F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
student       F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
technician    F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN
writer        F           NaN         NaN     NaN       NaN
              M           NaN         NaN     NaN       NaN

[41 rows x 23 columns]

### Step 6. For each occupation, calculate the minimum and maximum ages

In [40]:
users.groupby('occupation').age.agg(['max','min'])

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [22]:
users.groupby(['occupation','gender']).age.agg('mean')

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [56]:
a=users.groupby(['occupation','gender']).agg({'gender':'count'})
pd.crosstab(users['occupation'], users['gender'], normalize=True)
###比例？？

gender                F         M
occupation
administrator  0.038176  0.045599
artist         0.013786  0.015907
doctor         0.000000  0.007423
educator       0.027572  0.073171
engineer       0.002121  0.068929
entertainment  0.002121  0.016967
executive      0.003181  0.030753
healthcare     0.011665  0.005302
homemaker      0.006363  0.001060
lawyer         0.002121  0.010604
librarian      0.030753  0.023330
marketing      0.010604  0.016967
none           0.004242  0.005302
other          0.038176  0.073171
programmer     0.006363  0.063627
retired        0.001060  0.013786
salesman       0.003181  0.009544
scientist      0.003181  0.029692
student        0.063627  0.144221
technician     0.001060  0.027572
writer         0.020148  0.027572