# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
pd.read_csv('./cars1.csv')
pd.read_csv('./cars2.csv')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('./cars1.csv')
cars2 = pd.read_csv('./cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1 = cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [9]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = pd.concat([cars1,cars2],axis=0)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [16]:
cars = cars1.append(cars2)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [25]:
print(cars.shape)
c_owners = np.random.randint(15000,73001,398)
c_owners

(398, 9)

array([30720, 37490, 45806, 44277, 20067, 41166, 48785, 34954, 69495,
       58911, 64055, 55137, 22906, 58149, 19217, 22991, 26317, 28832,
       24770, 18750, 40014, 23488, 44906, 40024, 27623, 21551, 42134,
       46872, 43865, 35614, 48075, 41915, 47452, 52477, 71501, 23392,
       49745, 17085, 61712, 57223, 54051, 43175, 71504, 47419, 69308,
       38665, 50346, 70027, 53556, 51755, 33298, 40239, 39643, 58519,
       36185, 72631, 59881, 28119, 36044, 21815, 51836, 54244, 33654,
       40189, 58161, 39688, 60184, 64713, 53415, 41608, 20139, 27436,
       40343, 23310, 33405, 52781, 53002, 69726, 43950, 35908, 46432,
       70162, 69167, 70352, 24987, 31624, 32957, 43262, 22306, 62226,
       39493, 57939, 61822, 22689, 56012, 38261, 70819, 61790, 62381,
       29840, 22851, 20815, 32874, 27305, 36399, 33386, 23571, 15392,
       38062, 25207, 61740, 60668, 15163, 20082, 44080, 70634, 31614,
       40470, 21934, 16288, 28167, 72279, 72831, 39386, 62263, 47800,
       29361, 62418, 66079, 67385, 58593, 50987, 59276, 32868, 30188,
       34516, 33699, 15057, 65217, 27177, 25752, 37462, 54022, 46285,
       64198, 21911, 34176, 48075, 45185, 47093, 61562, 28937, 28153,
       67039, 63811, 55086, 59222, 37017, 44286, 72616, 48441, 35709,
       59154, 23619, 18178, 66743, 16045, 55021, 28438, 43268, 50256,
       53447, 44277, 63962, 18072, 54577, 61189, 66518, 57211, 58267,
       20233, 21462, 33720, 64611, 25369, 72712, 38639, 54553, 42669,
       16638, 66509, 22772, 56520, 58501, 48764, 60697, 23240, 45359,
       35928, 38866, 63980, 55538, 65932, 53650, 54384, 40964, 54846,
       57317, 29485, 63987, 18862, 53258, 33297, 23483, 51720, 57745,
       24945, 22493, 43245, 29301, 19833, 16660, 24077, 47629, 65074,
       24014, 66071, 69034, 33022, 50472, 58820, 52247, 61247, 39091,
       55836, 19357, 18601, 72346, 23230, 16220, 68907, 55119, 29571,
       21665, 49026, 57098, 70578, 40282, 16094, 36740, 42884, 70343,
       55941, 68581, 36305, 42117, 38922, 23924, 39725, 26998, 66121,
       46033, 32981, 42630, 48302, 58165, 27063, 54140, 20477, 70053,
       55882, 28145, 36701, 36851, 45252, 57809, 57782, 33685, 39703,
       36681, 39566, 71155, 46648, 60007, 70870, 54083, 21562, 41683,
       18556, 72622, 47983, 62849, 58361, 21081, 40757, 32995, 48472,
       47047, 64743, 32326, 59070, 26217, 49906, 32968, 24891, 60936,
       41398, 24829, 16612, 35748, 51641, 23683, 50666, 27234, 67973,
       18078, 29203, 67704, 32910, 40590, 58882, 54747, 32973, 17515,
       41316, 72357, 30160, 70399, 62600, 54548, 28868, 66176, 61107,
       32680, 33349, 32094, 66426, 66341, 21109, 18853, 72921, 47560,
       17316, 35855, 64607, 71724, 55338, 43352, 18328, 54356, 25727,
       22507, 16523, 63552, 47323, 64376, 51153, 28751, 62035, 40501,
       47844, 33437, 62949, 23127, 58565, 17185, 26275, 37392, 48478,
       35590, 68706, 46894, 45408, 53657, 27847, 55779, 48187, 40394,
       71506, 36074, 72974, 35774, 50928, 34764, 25226, 30476, 34038,
       69336, 41721, 45561, 27948, 63986, 53963, 51372, 38658, 32646,
       68702, 34252])

### Step 8. Add the column owners to cars

In [26]:
cars['owners'] = c_owners

In [27]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,30720
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,37490
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,45806
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,44277
4,17.0,8,302,140,3449,10.5,70,1,ford torino,20067
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,51372
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,38658
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,32646
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,68702
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,34252