# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [46]:
import numpy as np 
import pandas as pd 
import pandas_datareader.data as web
import datetime as dt 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline 
sns.set_style('white')

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [9]:
start = dt.datetime(2015,1,1)
end = dt.datetime.today()

datetime.datetime(2020, 7, 30, 17, 15, 13, 433419)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [19]:
stocks = ['AAPL','TSLA','TWTR','IBM','LNKD']

### Step 4. Read the data from google, assign to df and print it

In [22]:
df = web.DataReader(stocks,'yahoo',start,end)#google搞不出来，换雅虎
df

Attributes   Adj Close                                                Close  \
Symbols           AAPL         TSLA       TWTR         IBM LNKD        AAPL
Date
2014-12-31  100.905785   222.410004  35.869999  126.256348  NaN  110.379997
2015-01-02   99.945885   219.309998  36.560001  127.531136  NaN  109.330002
2015-01-05   97.130241   210.089996  36.380001  125.524490  NaN  106.250000
2015-01-06   97.139420   211.279999  38.759998  122.817429  NaN  106.260002
2015-01-07   98.501518   210.949997  37.279999  122.014748  NaN  107.750000
...                ...          ...        ...         ...  ...         ...
2020-07-23  371.380005  1513.069946  38.439999  127.330002  NaN  371.380005
2020-07-24  370.459991  1417.000000  37.540001  125.790001  NaN  370.459991
2020-07-27  379.239990  1539.599976  36.849998  126.209999  NaN  379.239990
2020-07-28  373.010010  1476.489990  36.610001  124.470001  NaN  373.010010
2020-07-29  380.160004  1499.109985  37.160000  125.320000  NaN  380.160004

Attributes                                           ...        Open  \
Symbols            TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                 ...
2014-12-31   222.410004  35.869999  160.440002  NaN  ...  112.820000
2015-01-02   219.309998  36.560001  162.059998  NaN  ...  111.389999
2015-01-05   210.089996  36.380001  159.509995  NaN  ...  108.290001
2015-01-06   211.279999  38.759998  156.070007  NaN  ...  106.540001
2015-01-07   210.949997  37.279999  155.050003  NaN  ...  107.199997
...                 ...        ...         ...  ...  ...         ...
2020-07-23  1513.069946  38.439999  127.330002  NaN  ...  387.989990
2020-07-24  1417.000000  37.540001  125.790001  NaN  ...  363.950012
2020-07-27  1539.599976  36.849998  126.209999  NaN  ...  374.839996
2020-07-28  1476.489990  36.610001  124.470001  NaN  ...  377.470001
2020-07-29  1499.109985  37.160000  125.320000  NaN  ...  375.000000

Attributes                                               Volume              \
Symbols            TSLA       TWTR         IBM LNKD        AAPL        TSLA
Date
2014-12-31   223.089996  35.889999  160.410004  NaN  41403400.0   2297500.0
2015-01-02   222.869995  36.230000  161.309998  NaN  53204600.0   4764400.0
2015-01-05   214.550003  36.259998  161.270004  NaN  64285500.0   5368500.0
2015-01-06   210.059998  36.270000  159.669998  NaN  65797100.0   6261900.0
2015-01-07   213.350006  39.099998  157.199997  NaN  40105900.0   2968400.0
...                 ...        ...         ...  ...         ...         ...
2020-07-23  1678.949951  37.650002  129.100006  NaN  49251100.0  24328500.0
2020-07-24  1416.010010  38.279999  126.480003  NaN  46359700.0  19396600.0
2020-07-27  1435.000000  37.580002  124.860001  NaN  30303500.0  16048700.0
2020-07-28  1504.000000  36.450001  125.820000  NaN  25906400.0  15808700.0
2020-07-29  1501.000000  36.970001  124.559998  NaN  22500400.0   9409300.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2014-12-31  17629400.0  4011900.0  NaN
2015-01-02  12062500.0  5525500.0  NaN
2015-01-05  15062700.0  4880400.0  NaN
2015-01-06  33050800.0  6146700.0  NaN
2015-01-07  22675700.0  4701800.0  NaN
...                ...        ...  ...
2020-07-23  90266700.0  4220100.0  NaN
2020-07-24  23068300.0  3531100.0  NaN
2020-07-27  22911300.0  3733400.0  NaN
2020-07-28  13566800.0  4178200.0  NaN
2020-07-29  10665300.0  2832800.0  NaN

[1404 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [23]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [31]:
df.items

<bound method DataFrame.items of Attributes   Adj Close                                                Close  \
Symbols           AAPL         TSLA       TWTR         IBM LNKD        AAPL
Date
2014-12-31  100.905785   222.410004  35.869999  126.256348  NaN  110.379997
2015-01-02   99.945885   219.309998  36.560001  127.531136  NaN  109.330002
2015-01-05   97.130241   210.089996  36.380001  125.524490  NaN  106.250000
2015-01-06   97.139420   211.279999  38.759998  122.817429  NaN  106.260002
2015-01-07   98.501518   210.949997  37.279999  122.014748  NaN  107.750000
...                ...          ...        ...         ...  ...         ...
2020-07-23  371.380005  1513.069946  38.439999  127.330002  NaN  371.380005
2020-07-24  370.459991  1417.000000  37.540001  125.790001  NaN  370.459991
2020-07-27  379.239990  1539.599976  36.849998  126.209999  NaN  379.239990
2020-07-28  373.010010  1476.489990  36.610001  124.470001  NaN  373.010010
2020-07-29  380.160004  1499.109985  37.160000  125.320000  NaN  380.160004

Attributes                                           ...        Open  \
Symbols            TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                 ...
2014-12-31   222.410004  35.869999  160.440002  NaN  ...  112.820000
2015-01-02   219.309998  36.560001  162.059998  NaN  ...  111.389999
2015-01-05   210.089996  36.380001  159.509995  NaN  ...  108.290001
2015-01-06   211.279999  38.759998  156.070007  NaN  ...  106.540001
2015-01-07   210.949997  37.279999  155.050003  NaN  ...  107.199997
...                 ...        ...         ...  ...  ...         ...
2020-07-23  1513.069946  38.439999  127.330002  NaN  ...  387.989990
2020-07-24  1417.000000  37.540001  125.790001  NaN  ...  363.950012
2020-07-27  1539.599976  36.849998  126.209999  NaN  ...  374.839996
2020-07-28  1476.489990  36.610001  124.470001  NaN  ...  377.470001
2020-07-29  1499.109985  37.160000  125.320000  NaN  ...  375.000000

Attributes                                               Volume              \
Symbols            TSLA       TWTR         IBM LNKD        AAPL        TSLA
Date
2014-12-31   223.089996  35.889999  160.410004  NaN  41403400.0   2297500.0
2015-01-02   222.869995  36.230000  161.309998  NaN  53204600.0   4764400.0
2015-01-05   214.550003  36.259998  161.270004  NaN  64285500.0   5368500.0
2015-01-06   210.059998  36.270000  159.669998  NaN  65797100.0   6261900.0
2015-01-07   213.350006  39.099998  157.199997  NaN  40105900.0   2968400.0
...                 ...        ...         ...  ...         ...         ...
2020-07-23  1678.949951  37.650002  129.100006  NaN  49251100.0  24328500.0
2020-07-24  1416.010010  38.279999  126.480003  NaN  46359700.0  19396600.0
2020-07-27  1435.000000  37.580002  124.860001  NaN  30303500.0  16048700.0
2020-07-28  1504.000000  36.450001  125.820000  NaN  25906400.0  15808700.0
2020-07-29  1501.000000  36.970001  124.559998  NaN  22500400.0   9409300.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2014-12-31  17629400.0  4011900.0  NaN
2015-01-02  12062500.0  5525500.0  NaN
2015-01-05  15062700.0  4880400.0  NaN
2015-01-06  33050800.0  6146700.0  NaN
2015-01-07  22675700.0  4701800.0  NaN
...                ...        ...  ...
2020-07-23  90266700.0  4220100.0  NaN
2020-07-24  23068300.0  3531100.0  NaN
2020-07-27  22911300.0  3733400.0  NaN
2020-07-28  13566800.0  4178200.0  NaN
2020-07-29  10665300.0  2832800.0  NaN

[1404 rows x 30 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [34]:
vol = df.Volume
vol.head()

Symbols           AAPL       TSLA        TWTR        IBM  LNKD
Date
2014-12-31  41403400.0  2297500.0  17629400.0  4011900.0   NaN
2015-01-02  53204600.0  4764400.0  12062500.0  5525500.0   NaN
2015-01-05  64285500.0  5368500.0  15062700.0  4880400.0   NaN
2015-01-06  65797100.0  6261900.0  33050800.0  6146700.0   NaN
2015-01-07  40105900.0  2968400.0  22675700.0  4701800.0   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [42]:
vol['week'] = vol.index.week#采用DatetimeIndex.week属性，以查找DatetimeIndex对象中每个条目的星期序号。
vol['year'] = vol.index.year
week = vol.groupby(['week','year']).sum()
week.head()

Symbols           AAPL        TSLA        TWTR         IBM  LNKD
week year
1    2014   41403400.0   2297500.0  17629400.0   4011900.0   0.0
     2015   53204600.0   4764400.0  12062500.0   5525500.0   0.0
     2016  343790200.0  20975400.0  89028400.0  25253600.0   0.0
     2017  103845500.0  28576400.0  58748700.0  11943500.0   0.0
     2018  136171900.0  29713500.0  76711500.0  31378900.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [45]:
vol[vol.year == 2015].sum()

Symbols
AAPL    1.306605e+10
TSLA    1.088218e+09
TWTR    5.361489e+09
IBM     1.105583e+09
LNKD    0.000000e+00
week    6.886000e+03
year    5.077800e+05
dtype: float64

### BONUS: Create your own question and answer it.

### 画出5种股票的年平均

In [51]:
year = vol.resample('Y').mean()
year

Symbols,AAPL,TSLA,TWTR,IBM,LNKD,week,year
Date,,,,,,,
2014-12-31,4.140340e+07,2.297500e+06,1.762940e+07,4.011900e+06,NaN,1.000000,2014.0
2015-12-31,5.184940e+07,4.318325e+06,2.127575e+07,4.387233e+06,NaN,27.325397,2015.0
2016-12-31,3.842253e+07,4.612546e+06,2.571148e+07,4.042086e+06,NaN,26.523810,2016.0
2017-12-31,2.713457e+07,6.334786e+06,1.757268e+07,4.267596e+06,NaN,26.609562,2017.0
2018-12-31,3.402006e+07,8.612107e+06,2.850942e+07,5.452433e+06,NaN,26.426295,2018.0
2019-12-31,2.803096e+07,9.159040e+06,1.539983e+07,3.756727e+06,NaN,26.496032,2019.0
2020-12-31,4.143962e+07,1.772410e+07,2.238703e+07,6.006670e+06,NaN,16.131034,2020.0