# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start=dt.datetime(2015,1,1)
end=dt.datetime.today()
start
end

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL','TSLA','TWTR','IBM','LNKD']

### Step 4. Read the data from google, assign to df and print it

In [4]:
##google?
df = web.DataReader(stocks, 'yahoo', start, end)
df.head()

Attributes   Adj Close                                               Close  \
Symbols           AAPL        TSLA       TWTR         IBM LNKD        AAPL
Date
2014-12-31  100.905785  222.410004  35.869999  126.256348  NaN  110.379997
2015-01-02   99.945885  219.309998  36.560001  127.531136  NaN  109.330002
2015-01-05   97.130241  210.089996  36.380001  125.524490  NaN  106.250000
2015-01-06   97.139420  211.279999  38.759998  122.817429  NaN  106.260002
2015-01-07   98.501518  210.949997  37.279999  122.014748  NaN  107.750000

Attributes                                          ...        Open  \
Symbols           TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                ...
2014-12-31  222.410004  35.869999  160.440002  NaN  ...  112.820000
2015-01-02  219.309998  36.560001  162.059998  NaN  ...  111.389999
2015-01-05  210.089996  36.380001  159.509995  NaN  ...  108.290001
2015-01-06  211.279999  38.759998  156.070007  NaN  ...  106.540001
2015-01-07  210.949997  37.279999  155.050003  NaN  ...  107.199997

Attributes                                              Volume             \
Symbols           TSLA       TWTR         IBM LNKD        AAPL       TSLA
Date
2014-12-31  223.089996  35.889999  160.410004  NaN  41403400.0  2297500.0
2015-01-02  222.869995  36.230000  161.309998  NaN  53204600.0  4764400.0
2015-01-05  214.550003  36.259998  161.270004  NaN  64285500.0  5368500.0
2015-01-06  210.059998  36.270000  159.669998  NaN  65797100.0  6261900.0
2015-01-07  213.350006  39.099998  157.199997  NaN  40105900.0  2968400.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2014-12-31  17629400.0  4011900.0  NaN
2015-01-02  12062500.0  5525500.0  NaN
2015-01-05  15062700.0  4880400.0  NaN
2015-01-06  33050800.0  6146700.0  NaN
2015-01-07  22675700.0  4701800.0  NaN

[5 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1406 entries, 2014-12-31 to 2020-07-31
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  1406 non-null   float64
 1   (Adj Close, TSLA)  1406 non-null   float64
 2   (Adj Close, TWTR)  1406 non-null   float64
 3   (Adj Close, IBM)   1406 non-null   float64
 4   (Adj Close, LNKD)  0 non-null      float64
 5   (Close, AAPL)      1406 non-null   float64
 6   (Close, TSLA)      1406 non-null   float64
 7   (Close, TWTR)      1406 non-null   float64
 8   (Close, IBM)       1406 non-null   float64
 9   (Close, LNKD)      0 non-null      float64
 10  (High, AAPL)       1406 non-null   float64
 11  (High, TSLA)       1406 non-null   float64
 12  (High, TWTR)       1406 non-null   float64
 13  (High, IBM)        1406 non-null   float64
 14  (High, LNKD)       0 non-null      float64
 15  (Low, AAPL)        1406 non-null   float64
 16  (Low, TSLA)        1406 non-null   float64
 17  (Low, TWTR)        1406 non-null   float64
 18  (Low, IBM)         1406 non-null   float64
 19  (Low, LNKD)        0 non-null      float64
 20  (Open, AAPL)       1406 non-null   float64
 21  (Open, TSLA)       1406 non-null   float64
 22  (Open, TWTR)       1406 non-null   float64
 23  (Open, IBM)        1406 non-null   float64
 24  (Open, LNKD)       0 non-null      float64
 25  (Volume, AAPL)     1406 non-null   float64
 26  (Volume, TSLA)     1406 non-null   float64
 27  (Volume, TWTR)     1406 non-null   float64
 28  (Volume, IBM)      1406 non-null   float64
 29  (Volume, LNKD)     0 non-null      float64
dtypes: float64(30)
memory usage: 340.5 KB

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [6]:
df.items

<bound method DataFrame.items of Attributes   Adj Close                                                Close  \
Symbols           AAPL         TSLA       TWTR         IBM LNKD        AAPL
Date
2014-12-31  100.905785   222.410004  35.869999  126.256348  NaN  110.379997
2015-01-02   99.945885   219.309998  36.560001  127.531136  NaN  109.330002
2015-01-05   97.130241   210.089996  36.380001  125.524490  NaN  106.250000
2015-01-06   97.139420   211.279999  38.759998  122.817429  NaN  106.260002
2015-01-07   98.501518   210.949997  37.279999  122.014748  NaN  107.750000
...                ...          ...        ...         ...  ...         ...
2020-07-27  379.239990  1539.599976  36.849998  126.209999  NaN  379.239990
2020-07-28  373.010010  1476.489990  36.610001  124.470001  NaN  373.010010
2020-07-29  380.160004  1499.109985  37.160000  125.320000  NaN  380.160004
2020-07-30  384.760010  1487.489990  36.720001  122.900002  NaN  384.760010
2020-07-31  411.045013  1477.449951  36.555000  121.550003  NaN  411.045013

Attributes                                           ...        Open  \
Symbols            TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                 ...
2014-12-31   222.410004  35.869999  160.440002  NaN  ...  112.820000
2015-01-02   219.309998  36.560001  162.059998  NaN  ...  111.389999
2015-01-05   210.089996  36.380001  159.509995  NaN  ...  108.290001
2015-01-06   211.279999  38.759998  156.070007  NaN  ...  106.540001
2015-01-07   210.949997  37.279999  155.050003  NaN  ...  107.199997
...                 ...        ...         ...  ...  ...         ...
2020-07-27  1539.599976  36.849998  126.209999  NaN  ...  374.839996
2020-07-28  1476.489990  36.610001  124.470001  NaN  ...  377.470001
2020-07-29  1499.109985  37.160000  125.320000  NaN  ...  375.000000
2020-07-30  1487.489990  36.720001  122.900002  NaN  ...  376.750000
2020-07-31  1477.449951  36.555000  121.550003  NaN  ...  411.535004

Attributes                                               Volume              \
Symbols            TSLA       TWTR         IBM LNKD        AAPL        TSLA
Date
2014-12-31   223.089996  35.889999  160.410004  NaN  41403400.0   2297500.0
2015-01-02   222.869995  36.230000  161.309998  NaN  53204600.0   4764400.0
2015-01-05   214.550003  36.259998  161.270004  NaN  64285500.0   5368500.0
2015-01-06   210.059998  36.270000  159.669998  NaN  65797100.0   6261900.0
2015-01-07   213.350006  39.099998  157.199997  NaN  40105900.0   2968400.0
...                 ...        ...         ...  ...         ...         ...
2020-07-27  1435.000000  37.580002  124.860001  NaN  30303500.0  16048700.0
2020-07-28  1504.000000  36.450001  125.820000  NaN  25906400.0  15808700.0
2020-07-29  1501.000000  36.970001  124.559998  NaN  22582300.0   9426900.0
2020-07-30  1488.000000  36.730000  123.709999  NaN  38797600.0   7600200.0
2020-07-31  1515.000000  37.330002  122.709999  NaN  39176227.0   4916161.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2014-12-31  17629400.0  4011900.0  NaN
2015-01-02  12062500.0  5525500.0  NaN
2015-01-05  15062700.0  4880400.0  NaN
2015-01-06  33050800.0  6146700.0  NaN
2015-01-07  22675700.0  4701800.0  NaN
...                ...        ...  ...
2020-07-27  22911300.0  3733400.0  NaN
2020-07-28  13566800.0  4178200.0  NaN
2020-07-29  10675600.0  2832800.0  NaN
2020-07-30   9988600.0  3977500.0  NaN
2020-07-31   6133154.0  1807242.0  NaN

[1406 rows x 30 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [7]:
vol=df['Volume']
vol

Symbols           AAPL        TSLA        TWTR        IBM  LNKD
Date
2014-12-31  41403400.0   2297500.0  17629400.0  4011900.0   NaN
2015-01-02  53204600.0   4764400.0  12062500.0  5525500.0   NaN
2015-01-05  64285500.0   5368500.0  15062700.0  4880400.0   NaN
2015-01-06  65797100.0   6261900.0  33050800.0  6146700.0   NaN
2015-01-07  40105900.0   2968400.0  22675700.0  4701800.0   NaN
...                ...         ...         ...        ...   ...
2020-07-27  30303500.0  16048700.0  22911300.0  3733400.0   NaN
2020-07-28  25906400.0  15808700.0  13566800.0  4178200.0   NaN
2020-07-29  22582300.0   9426900.0  10675600.0  2832800.0   NaN
2020-07-30  38797600.0   7600200.0   9988600.0  3977500.0   NaN
2020-07-31  39176227.0   4916161.0   6133154.0  1807242.0   NaN

[1406 rows x 5 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [8]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year
vol

Symbols           AAPL        TSLA        TWTR        IBM  LNKD  week  year
Date
2014-12-31  41403400.0   2297500.0  17629400.0  4011900.0   NaN     1  2014
2015-01-02  53204600.0   4764400.0  12062500.0  5525500.0   NaN     1  2015
2015-01-05  64285500.0   5368500.0  15062700.0  4880400.0   NaN     2  2015
2015-01-06  65797100.0   6261900.0  33050800.0  6146700.0   NaN     2  2015
2015-01-07  40105900.0   2968400.0  22675700.0  4701800.0   NaN     2  2015
...                ...         ...         ...        ...   ...   ...   ...
2020-07-27  30303500.0  16048700.0  22911300.0  3733400.0   NaN    31  2020
2020-07-28  25906400.0  15808700.0  13566800.0  4178200.0   NaN    31  2020
2020-07-29  22582300.0   9426900.0  10675600.0  2832800.0   NaN    31  2020
2020-07-30  38797600.0   7600200.0   9988600.0  3977500.0   NaN    31  2020
2020-07-31  39176227.0   4916161.0   6133154.0  1807242.0   NaN    31  2020

[1406 rows x 7 columns]

In [9]:
a= vol.groupby(['week','year']).sum()
a.head()

Symbols           AAPL        TSLA        TWTR         IBM  LNKD
week year
1    2014   41403400.0   2297500.0  17629400.0   4011900.0   0.0
     2015   53204600.0   4764400.0  12062500.0   5525500.0   0.0
     2016  343790200.0  20975400.0  89028400.0  25253600.0   0.0
     2017  103845500.0  28576400.0  58748700.0  11943500.0   0.0
     2018  136171900.0  29713500.0  76711500.0  31378900.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [10]:
del vol['week']
vol['year'] = vol.index.year
year = vol.groupby(['year']).sum()
year

Symbols          AAPL          TSLA          TWTR           IBM  LNKD
year
2014     4.140340e+07  2.297500e+06  1.762940e+07  4.011900e+06   0.0
2015     1.306605e+10  1.088218e+09  5.361489e+09  1.105583e+09   0.0
2016     9.682478e+09  1.162362e+09  6.479294e+09  1.018606e+09   0.0
2017     6.810776e+09  1.590031e+09  4.410744e+09  1.071166e+09   0.0
2018     8.539036e+09  2.161639e+09  7.155865e+09  1.368561e+09   0.0
2019     7.063803e+09  2.308078e+09  3.880756e+09  9.466952e+08   0.0
2020     6.086741e+09  2.582495e+09  3.262246e+09  8.767304e+08   0.0

### BONUS: Create your own question and answer it.