# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1 = pd.Series(np.random.randint(1,5,100))
s2 = pd.Series(np.random.randint(1,4,100))
s3 = pd.Series(np.random.randint(10000,30001,100))
print(s1,s2,s3)

0     1
1     3
2     3
3     1
4     1
     ..
95    2
96    4
97    2
98    3
99    1
Length: 100, dtype: int32 0     3
1     3
2     1
3     1
4     2
     ..
95    1
96    3
97    2
98    1
99    2
Length: 100, dtype: int32 0     11195
1     18781
2     25900
3     15347
4     22766
      ...
95    21386
96    23695
97    23175
98    17294
99    28020
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [11]:
h_mkt = pd.concat([s1,s2,s3],axis=1)
h_mkt.head()

   0  1      2
0  1  3  11195
1  3  3  18781
2  3  1  25900
3  1  1  15347
4  1  2  22766

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [10]:
h_mkt.columns = ['bedrs','bathrs','price_sqr_meter']
h_mkt

    bedrs  bathrs  price_sqr_meter
0       1       3            11195
1       3       3            18781
2       3       1            25900
3       1       1            15347
4       1       2            22766
..    ...     ...              ...
95      2       1            21386
96      4       3            23695
97      2       2            23175
98      3       1            17294
99      1       2            28020

[100 rows x 3 columns]

In [12]:
# way 2
h_mkt.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)
h_mkt.head()

   bedrs  bathrs  price_sqr_meter
0      1       3            11195
1      3       3            18781
2      3       1            25900
3      1       1            15347
4      1       2            22766

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [29]:
bigcolumn = pd.concat([s1,s2,s3],axis=0)
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn.tail()

<class 'pandas.core.frame.DataFrame'>

        0
95  21386
96  23695
97  23175
98  17294
99  28020

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [25]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [26]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

In [31]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        1
1        3
2        3
3        1
4        1
..     ...
295  21386
296  23695
297  23175
298  17294
299  28020

[300 rows x 1 columns]